#%RAML 0.8
#baseUri: https://mocksvc.mulesoft.com/mocks/2a893ad8-1d2c-4c86-9397-ed03c5d37882/mocks/519ff663-77da-45e7-acc8-715ab7bfbd97
baseUri: https://category-system-api.cloudhub.io/api
title: Budget
version: v1.0
mediaType: application/json
schemas:
  - category: !include schemas/category.json
  - item: !include schemas/item.json
  - user: !include schemas/user.json
traits: !include traits/trait-collection.yaml
/budget:
  /items:
    displayName: items
    description: |
      Working with items:
      * Retrieving all items
      * Creating items
    get:
      description: |
        Retrieve all the items.
      queryParameters:
        HouseholdId:
          required: true
          type: integer
        isExpense:
          required: true
          type: boolean
      is: [ collection ]
      responses:
        200:
          body:
            application/json:
              schema: item
              example: !include examples/item_collection_example.json
  /item:
    post:
      queryParameters:
        Name:
          description: The name given to this item
          type: string
          required: true
        HouseholdId:
          description: The household id given to this item
          type: integer
          required: true
        isExpense:
          description: Whether this is income or expense
          type: boolean
          required: true
        Amount:
          description: Amount this item is
          type: number
          required: true
        CategoryId:
          description: CategoryId assigned to this item
          type: integer
          required: true
        Frequency:
          description: How often this item charges/credits
          type: integer
          required: true
      description: Create a new item.
      responses:
        200:
          body:
            example: |
              { "message": "New item created."  }
    /{Id}:
      displayName: item ID
      uriParameters:
        Id:
          type: integer
          example: 1
          description: Represents the item's unique id
      get:
        description: Retrieve a item by Id.
        responses:
          200:
            body:
              schema: item
              example: !include examples/item_example.json
  /categories:
    displayName: categories
    description: |
      Working with categories:
      * Retrieving all categories
      * Creating categories
    get:
      description: |
        Retrieve all the categories.
      queryParameters:
        HouseholdId:
          required: true
          type: integer
      is: [ collection ]
      responses:
        200:
          body:
            application/json:
              schema: category
              example: !include examples/category_collection_example.json
  /category:
    post:
      queryParameters:
        Name:
          description: The name given to this Category
          type: string
          required: true
        HouseholdId:
          description: The household id given to this Category
          type: integer
          required: true
      description: Create a new category.
      responses:
        200:
          body:
            example: |
              { "message": "New category created."  }
    /{Id}:
      displayName: category ID
      uriParameters:
        Id:
          type: integer
          example: 1
          description: Represents the category's unique id
      get:
        description: Retrieve a category by Id.
        responses:
          200:
            body:
              schema: category
              example: !include examples/category_example.json
/user:
  description: |
    Gathering user information
  get:
    description: Retrieve all the categories.
    responses:
      200:
        body:
          schema: user
          example: !include examples/user_example.json